.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.img_lod{
    width: 70%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
}